usch.info {
    respond "Hello, world!"

    tls {
        dns cloudflare {{cloudflare_api_key}}
     }
}

portainer.usch.info {
    reverse_proxy portainer:9000

    tls {
        dns cloudflare {{cloudflare_api_key}}
     }
}